:root {
  --primary: #ebc908;
  --primary-text: #1a1a1a;
  --secondary: #ff1dec;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
  --new: rgb(5, 58, 65);
  --new-text: hsl(0, 4%, 73%);
}
